@import '../../assets/styles/basics.scss';

.header {
    background: none; //<- .header is a jumbotron container, so need to override default background to 'none'.
    color: $mainTextColor;
    font-family: $titleFont;
    text-align: center;

    h1 {
        font-size: 4.4rem;
    }

    h3 {
        font-size: 3rem;
        padding-bottom: 40px; 
    }

    .email {
        font-size: 1.5rem;
        font-family: $secondaryFont;
    }
}

.headerImage {
    width: 370px;
    border-radius: 100%;
}

.socialContainer {
    text-align: center;
    padding-top: 3%;
  }
  