@import '../../assets/styles/basics.scss';

.header {
    background: none; //<- .header is a jumbotron container, so need to override default background to 'none'.
    color: $mainTextColor;
    font-family: $titleFont;
    text-align: center;

    h1 {
        font-size: 4.4rem;
        padding-top: 1%;
        background: linear-gradient(-40deg, #f45dab, #e46744, #F9E900, #22D3A9, #51E5FF);
        animation: transition 12s ease infinite;
        background-size: 400% 400%;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h3 {
        font-size: 3rem;
        padding-bottom: 40px;
        background: linear-gradient(-40deg, #F9C8DA, #FFD9C2, #FFFBC2, #CBF6EC, #C2F6FF);
        animation: transition 15s ease infinite;
        background-size: 400% 400%;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.headerImage {
    width: 350px;
    border-radius: 20%;
}

.socialContainer {
    text-align: center;
    font-size: 1.5rem;
    animation: transition 15s ease infinite;
    background: linear-gradient(-40deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
    background-size: 400% 400%;
    margin-bottom: 2%;

    .email {
        color: $mainTextColor;
        text-decoration: none;
        font-family: $secondaryFont;
    }
}
