.header {
    background: none;
    color: #fff;
    font-family: 'Fredoka One', cursive;
    text-align: center;

    h1 {
        font-size: 70px;
    }

    h3 {
        font-size: 45px;
        padding-bottom: 25px;
    }
}

.headerImage {
    width: 300px;
    border-radius: 100%;
}