.section1 {
    background: none;
    color: #fff;
    text-align: center;
    margin-bottom: 5%;

    h1 {
        font-size: 70px;
        font-family: 'Fredoka One', cursive;
        margin: 2%;
    }

    h3 {
        font-family: 'Inconsolata', monospace;
    }
}