@import '../../assets/styles/basics.scss';

.section1 {
    text-align: center;
    margin: 5%;

    h1 {
        font-size: 4rem;
        font-family: $titleFont;
        margin: 2%;
    }

    h3 {
        font-family: $secondaryFont;
    }
}
